@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Mochiy+Pop+P+One&display=swap');

body {
  font-family: 'Balsamiq Sans', cursive;
}

h1, h3 {
  font-family:'Mochiy Pop P One', sans-serif;
  padding: 0 0 2% 0;
}

.gridContainer {
  display:grid;
  grid-template-areas:
    'main main main';
  grid-gap: 20px;
}
#giraffeFriend {
  display: none;
}

.container {
  padding: 3% 0 0 0;
}

.values {
  padding: 4% 0 1% 0;
}